body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  margin-bottom: 40px;
  font-size: 38px;
}

.wage-table {
  width: 100%;
}

.wage-table tr:nth-child(odd) {
  background-color: #eee;
}

.wage-table th,
.wage-table td {
  padding: 15px 10px;
}

.wage-table th {
  font-size: 18px;
  color: hsla(233, 50%, 20%, 1);
}

.wage-table td {
  font-size: 16px;
}

.wage-table td.wage {
  font-weight: bold;
}

.wage-table .name,
.wage-table .id {
  text-align: left;
}

.wage-table .wage,
.wage-table .overtime,
.wage-table .total-hours {
  text-align: right;
}

